@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*,*:before,*:after{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    /* To hide any overflows along the x-axis of the website */
    overflow-x: hidden;
}

/* SETTING THE FONT FAMILY */

body{
    font-family: 'Open Sans', sans-serif;
}

body h2,h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* DECLARING VARIABLES */

:root{
    --primary-pink : hsl(322, 100%, 66%);
    --white : #fff;
    --secondary-pink : hsl(321, 100%, 78%);
    --pale-blue : hsl(207, 100%, 98%);
    --dark-cyan : hsl(192, 100%, 9%);
}

/* BUILDING THE HUDDLE PART */

nav{
    display: flex;
    justify-content: space-between;
    padding : 1rem;
    position: relative;
}

.huddle{
    display: flex;
    align-items: center;
    margin-left : 1rem;
}

nav h2{
    margin-left: 1rem;
}

.free{
    padding : 0rem 1rem;
    border-radius : 25px;
    margin-right : 1rem;
    display: flex;
    align-items: center;
    margin-right : 1rem;
    border : 1px solid var(--primary-pink);
}

.free a{
    text-decoration: none;
    color : var(--primary-pink);
}

/* Media queries for the huddle part */

@media (max-width : 300px){
    nav{
        padding : .75rem;
    }
    .huddle{
        margin-left: 0rem;
    }
    .free{
        margin-right: 0rem;
        padding : 0rem .75rem;
    }
}


/* BUILDING THE COMMUNITY SECTION */

.community{
    text-align: center;
    margin-top : 4.5rem;
    margin-bottom : 3.5rem;
}

.community > p{
    width: 50%;
    position: relative;
    left : 50%;
    transform: translateX(-50%);
    margin : 1.5rem 0rem;
}

.community a{
    text-decoration: none;
    padding : .5rem 1.25rem;
    display: inline-block;
    border-radius: 2rem;
    color : var(--white);
    background-color: var(--primary-pink);
    margin-top : 1.25rem;
    margin-bottom : 3rem;
    transition-property: background-color;
    transition-duration: 150ms;
    font-family: 'Poppins', sans-serif;
    font-size : .9rem;
}

.community a:hover{
    background-color: var(--secondary-pink);
}

.stats{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.stats h2{
    text-align: left;
    font-size: 3.5rem;
}

.messages-sent > div, .communities-formed > div{
    text-align: left;
    margin-bottom : 1rem;
}

.stats h5{
    font-size : 1.05rem;
    color : var(--dark-cyan);
}

/* WRITING MEDIA QUERIES FOR COMMUNITY SECTION FOR DESKTOPS */

@media (min-width : 769px) and (max-width : 1200px){
    .community .mockup img{
        width : 80%;
    }
    .community p{
        width : 60%;
    }
}

/* WRITING MEDIA QUERIES FOR COMMUNITY SECTION FOR TABLETS */

@media (min-width : 501px) and (max-width : 768px){
    .community .mockup img{
        width : 75%;
    }
    .stats h2{
        font-size : 3rem;
    }
    .community > p{
        width : 65%;
    }
}

/* WRITING MEDIA QUERIES FOR COMMUNITY SECTION FOR PHONES */

@media (max-width : 500px){
    .community > p{
        width : 90%;
    }
    .community .mockup img{
        width : 70%;
    }
    .stats{
        flex-direction: column;
    }
    .stats h2{
        text-align: center;
    }
    .communities-formed > div, .messages-sent > div{
        text-align : center;
    }
    .messages-sent{
        margin-top : 2.75rem;
    }
}

.above-together{
    height : 200px;
    width : 100%;
    background : url("./images/bg-section-top-desktop-1.svg") no-repeat center center/cover;
}

.Together{
    background-color: var(--pale-blue);
}

.Discuss{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grow{
    flex : 1;
    margin-left: 2rem;
}

.grow h2{
    font-size : 2.5rem;
}

.grow p{
    line-height: 1.75rem;
}

.people{
    margin-left: 0rem;
    flex : 1.3;
}

.people img{
    height : 500px;
}

/* WRITING MEDIA QUERIES FOR GROW TOGETHER SECTION */

/* FOR DESKTOPS */
@media (min-width : 769px) and (max-width : 1200px){
    .people img{
        width : 90%;
        height : 450px;
    }
}

/* FOR TABLETS */
@media (min-width : 501px) and (max-width : 768px){
    .people{
        margin-left : 1rem;
    }
    .people img{
        width : 80%;
        height : 400px;
    }
}

/* FOR MOBILE DEVICES */
@media (max-width : 500px){
    .above-together{
        background: url('./images/bg-section-top-mobile-1.svg') no-repeat center center/cover;
        height : 250px;
    }
    .Discuss{
        display: flex;
        flex-direction: column-reverse;
    }
    .people{
        margin-left: 0rem;
        text-align: center;
    }
    .people img{
        width : 70%;
        height : 350px;
    }
    .grow{
        margin-left: 0rem;
        width: 100%;
        text-align: center;
        margin : 1rem 0rem;
    }
    .grow p{
        max-width : 85%;
        margin : auto;
    }
    .grow h2{
        font-size : 2rem;
    }
}

.below-together{
    height : 200px;
    width : 100%;
    background: url("./images/bg-section-bottom-desktop-2.svg") no-repeat center center/cover;
}

/* changing below curver for the mobile devices */

@media (max-width : 500px){
    .below-together{
        height : 250px;
        background: url('./images/bg-section-bottom-mobile-2.svg') no-repeat center center/cover;
    }
}

/* NOW STYLING FLOWING CONVERSATIONS SECTION */

.flowing-conversations > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex : 1.4;
}

.table img{
    height : 450px;
    margin-right : 2rem;
}

.converse{
    flex : 1;
}

.converse h2{
    margin-bottom: 1rem;
}

.converse p{
    width : 80%;
    line-height: 1.75rem;
    font-size : 1.1rem;
}

.below-converse{
    height : 200px;
    width : 100%;
    background: url("./images/bg-section-top-desktop-1.svg") no-repeat center center/cover;
}

/* WRITING MEDIA QUERIES FOR THE FLOWING CONVERSATIONS SECTION */

/* FOR DESKTOPS */

@media (min-width : 769px) and (max-width : 1200px){
    .table {
        flex : 1.2;
    }
    .converse {
        flex : 1;
    }
    .table img{
        height : 430px;
    }
}

/* FOR TABLETS */

@media (min-width : 501px) and (max-width : 768px){
    .converse p{
        width : 90%;
    }
}

/* FOR MOBILE PHONES */

@media (max-width : 500px){
    .flowing-conversations > div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .table {
        flex : 1;
        margin : 1.2rem 0rem;
        width : 100%;
    }
    .table img{
        height : 350px;        
        margin-right : 0rem;
    }
    .converse {
        flex : 1;
        text-align: center;
    }
    .converse p{
        position: relative;
        left : 50%;
        transform: translateX(-50%);
    }
    .below-converse{
        background: url("./images/bg-section-top-desktop-2.svg") no-repeat center center/cover;
    }
}


.Build-Community{
    text-align: center;
    padding-bottom : 6rem;
}

.Build-Community > div h2{
    margin : 1rem 0rem;
}

.Build-Community > div a{
    display: inline-block;
    text-decoration: none;
    color : var(--white);
    background-color: var(--primary-pink);
    padding : .75rem 2rem;
    border-radius : 25px;
    font-weight: 600;
}

.below-build-community{
    background: url('./images/bg-footer-top-desktop.svg');
    background-repeat: repeat-x;
    height : 155px;
}

.footer {
    background-color: var(--dark-cyan);
    display: flex;
    justify-content: center;
    color : var(--white);
}

.social-media i{
    font-size: 1.5rem;
}

.footer input{
    padding : .45rem 1.25rem;
    margin-right : .75rem;
    width : 50%;
    border : 5px;
}

.footer input::placeholder{
    text-align: left;
}

.footer button{
    padding : .6rem 1.65rem;
    color : var(--white);
    background-color: var(--primary-pink);
    border-radius : 5px;
}

.footer input:focus{
    outline: none;
}

.Huddle-Div{
    margin-left : 3rem;
}

.Huddle-Div > div{
    display: flex;
    align-items: center;
}

.Huddle-Div > div h1{
    display: inline-block;
    margin-left : 0.65rem; 
    font-size: 3rem;
}

.huddle-para{
    width: 65%; 
    line-height: 1.65rem; 
    margin: .85rem 0rem;
}

.phn{
    padding : .35rem 0rem;
}

.phn p, .eml p{
    display: inline-block; 
    padding-left: .5rem;
}

.eml{
    margin-top : .35rem;
}

.social-media{
    margin : 1rem 0rem;
}

.social-media i:nth-child(2){
    margin: 0rem .45rem;
}

.News-Letter h1{
    font-size : 2rem;
}

.News-Letter > p{
    width: 65%; 
    line-height: 1.65rem; 
    margin: 1rem 0rem;
}
